.title {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
}

.search-result {
	padding-top: 30px;
}

.search-result-table th.rightCell,
.search-result-table td.rightCell {
  text-align: right;
}

